<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopTARge22</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopTARge22.styles.css" asp-append-version="true" />
</head>
<body class="@(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "" : "subpage")">
    <header id="header">
        <div class="inner">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">ShopTARge22</a>
            <nav id="nav">
                <a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a  asp-area="" asp-controller="Spaceships" asp-action="Index">Spaceship</a>
                <a  asp-area="" asp-controller="Realestates" asp-action="Index">Realestates</a>
                <a  asp-area="" asp-controller="Kindergartens" asp-action="Index">Kindergartens</a>
                <a  asp-area="" asp-controller="Cocktails" asp-action="Index">Cocktails</a>
                <a  asp-area="" asp-controller="Emails" asp-action="Index">Email</a>
                <a  asp-area="" asp-controller="Chats" asp-action="Index">Chat</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <section id="main" class="wrapper">
        <div class="inner">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </section>
    <footer id="footer">
        <div class="inner">
           <h3> &copy; 2023 - ShopTARge22 </h3>
        </div>
    </footer>
    <div class="copyright">
        Made with: <a href="https://templated.co/">Templated.co</a>
    </div>
    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
